{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('mailBox') }}

        {% endblock %}
{% block title %}Hello SendMailController!{% endblock %}

{% block body %}

<div class="container">
    <form action="" method="post" class='form m-4' enctype="multipart/form-data">
        <div class='mailBox'>
            <label for="userEmail" class="form-label">De :<input type="email" name="userEmail" id="userEmail" value="{{ (app.user) ? app.user.email : ''}}" class='form form-control'></label>
            <label for="recipientEmail" class="form-label">A :<input type="email" name="recipientEmail" id="recipientEmail" value="{{ (job is defined) ? job.email : ''}}" class='form form-control'></label>
            <label for="topic">Objet : <input type="text" name="topic" id="topic"></label>
            <label for="mailBody" class="form-label"><textarea name="mailBody" id="mailBody" cols="30" rows="10" class='form form-control'></textarea></label>
            <label for="cv">Charger votre CV : <input type="file" name="cv" id="cv"></label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" value="Postuler" class='btn btn-secondary'>
        </div>
    </form>
</div>
{% endblock %}
