<form method="post" action="{{ path('search_filter_delete', {'id': search_filter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ search_filter.id) }}">
    <button class="btn">Delete</button>
</form>
