{% extends 'base.html.twig' %}

{% block title %}Edit SearchFilter{% endblock %}

{% block body %}
    <h1>Edit SearchFilter</h1>

    {{ include('search_filter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('search_filter_index') }}">back to list</a>

    {{ include('search_filter/_delete_form.html.twig') }}
{% endblock %}
