@import "~bootstrap/scss/bootstrap";

.navbar {
        #logo {
            max-width: 4em;
            height: auto;
            img {
                box-sizing: content-box;
            }
        }

}
