@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}



.navbar {
    max-height: 6em;
    .container-fluid {
        height: 100%;
        #logo {
            max-width: 4em;
            height: auto;
            img {
                box-sizing: content-box;
            }
        }
    }
}
